numpy==1.26.0
pygame==2.5.2
psutil==5.9.0
jupyter
ipykernel
ipython
matplotlib
python-dateutil
packaging
parso
pexpect
pickleshare
platformdirs
prompt-toolkit
pygments
pyzmq
setuptools
six
tornado
traitlets
typing_extensions
wcwidth
zipp
